/* General Styles */
body {
    font-family: Gilroy;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

nav .logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

nav .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav .nav-links li {
    margin-left: 20px;
}

nav .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav .nav-links a:hover {
    color: #ddd;
}
#main-banner, #main-banner img{
     width: 100%;
    }
/* Hero Section */
.hero {
    background-image: url('R:\NEW WEBSITE PROJECT\main website code\home\images\page 1.jpg'); /* Replace with your image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #321a5a;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.cta-button:hover {
    background-color:#321a5a;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}